<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./icon.png">
    <meta name="description" content="אתר הלמידה למבחן החילי של פיקוד העורף" />
    <meta name="title" property="og:title" content="המבחן החילי" />
    <meta property="og:type" content="website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51870006418_6148ff1030_c.jpg" />
    <meta name="description" property="og:description" content="אתר הלמידה למבחן החילי של פיקוד העורף" />
    <meta name="author" content="Omer Cohen" />
    <title>המבחן החילי</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
