<template>
  <div class="home">
    <Showcase ref="showcase"/>
    <div class="main-content">
      <HomeText ref="text" />
      <HomeRoutes ref="routes" />
    </div>
  </div>
</template>

<script>
import Showcase from '../components/home-showcase.vue'
import HomeText from '../components/home-text.vue'
import HomeRoutes from '../components/home-routes.vue'


export default {
  mounted() {
    setTimeout(() => {
      this.initElements()
      window.scrollTo({top: 0, left: 0, behavior: 'instant'})
    }, 0)
  },
  methods: {
    initElements() {
      let delay = 0
      for(let ref in this.$refs) {
        if (ref != 'login' && ref != 'signup') {
          setTimeout(() => {
            if(this.$refs[ref]) {
              this.$refs[ref].show()
            }
          }, delay)
        delay += 200
        }
      }
    },
    loginPopup() {
      this.$refs.login.loginPopup()
    }
  },
  components: {
    Showcase,
    HomeText,
    HomeRoutes
  },
  provide() {
    return {
      LoginPopup: this.loginPopup,
    }
  }
}
</script>

<style>
@media screen and (max-width: 700px) {
  .home {
    font-size: .7em;
  }
  .main-content {
    margin-top: 0 !important;
  }
}

/* preload CSS images */
.home::after {
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content: url(../assets/plus.svg) url(../assets/x.svg) url(../assets/edit.svg) url(../assets/done.svg) url(../assets/done2.svg);
}

.home {
  padding-top: var(--headerHeight);
  min-height: 100%;
  position: relative;
}

.main-content {
  background-color: #fff;
  position: relative;
  margin-top: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  z-index: 1;
  color: var(--blue);
  font-weight: bold;
  text-align: center;
  font-size: 4.5em;
  border-radius: .5em;
  width: fit-content;
  margin: 1em 0;
  --shadowColor: rgb(189, 186, 219);
    text-shadow:
                0.01em 0.01em 0 var(--shadowColor),
                0.02em 0.02em 0 var(--shadowColor),
                0.03em 0.03em 0 var(--shadowColor),
                0.04em 0.04em 0 var(--shadowColor),
                0.05em 0.05em 0 var(--shadowColor);
}

.text-shadow {
    --shadowColor: rgb(189, 186, 219);
    text-shadow:
                0.01em 0.01em 0 var(--shadowColor),
                0.02em 0.02em 0 var(--shadowColor),
                0.03em 0.03em 0 var(--shadowColor),
                0.04em 0.04em 0 var(--shadowColor),
                0.05em 0.05em 0 var(--shadowColor);
}

.scroll-fade {
  position: relative !important;
  top: 0 !important;
  transition: top 1s ease, opacity 1s ease !important;
}

.scroll-fade.hide {
  opacity: 0 !important;
  top: -5vh !important;
}

.plus-btn {
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 50%;
  --size: calc(2.5rem + .5em);
  height: var(--size);
  width: var(--size);
  transform: translate(-120%, -50%);
  background-image: url(../assets/plus.svg);
  background-size: cover;
}

.x-btn-chapter {
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  left: calc(.5em + var(--size));
  top: .5em;
  --size: calc(2.5rem + .5em);
  height: var(--size);
  width: var(--size);
  background-image: url(../assets/x.svg);
  background-size: cover;
}

.x-btn-unit {
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  right: 0%;
  top: 50%;
  --size: calc(2.5rem + .5em);
  height: var(--size);
  width: var(--size);
  transform: translate(120%, -50%);
  background-image: url(../assets/x.svg);
  background-size: cover;
}

.edit-btn-chapter {
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  --size: calc(2.5rem + .5em);
  left: .5em;
  top: .5em;
  height: var(--size);
  width: var(--size);
  background-image: url(../assets/edit.svg);
  background-size: cover;
}
</style>