<template>
<Transition appear name="fade-down">
  <div class="units-page">
    <Units ref="units"/>
  </div>
</Transition>
</template>

<script>
import Units from '../components/units.vue'

export default {
  mounted() {
    window.scrollTo({top: 0, left: 0, behavior: 'instant'})
  },
  components: {
    Units
  },
}
</script>

<style>
@media screen and (max-width: 700px) {
  .units-page {
    font-size: .7em;
  }
}

.units-page {
  padding-top: var(--headerHeight);
  min-height: calc(100% - var(--footerHeight));
}
</style>