<template>
  <Transition name="fade">
    <div class="chapter-popup" v-if="open">
      <Transition appear name="fade-up">
        <div class="chapter-window" v-if="windowOpen">
          <span v-wave class="close-btn" @click="close">×</span>
          <h1 class="window-title title">{{ chapterInfo.title }}</h1>
          <div
            class="window-text"
            v-if="chapterInfo.type == 'text'"
            v-html="chapterInfo.content"
          ></div>
          <div class="window-video" v-if="chapterInfo.type == 'video'">...</div>
          <div class="window-buttons">
            <a
              class="btn btn-blue"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfOXpRkYUuT1cSyIivWeNWwWCnPNx4IBLtpwUKjiCspY7u41g/viewform?usp=sf_link"
              target="_blank"
            >
              יש לך שאלות לגבי הפרק?
            </a>
            <div class="btns">
              <div class="btn btn-red" @click="close">סגור</div>
              <div class="btn btn-green" @click="clickedDone">סיימתי</div>
            </div>
          </div>
        </div>
      </Transition>
    </div>
  </Transition>
</template>

<script>
export default {
  data() {
    return {
      open: false,
      windowOpen: false,
      chapterInfo: {
        id: '',
        title: '',
        type: '',
        content: '',
      },
    }
  },
  beforeUnmount() {
    document.body.style.overflow = 'auto'
  },
  methods: {
    popup(chapter) {
      this.open = true
      this.windowOpen = true
      this.chapterInfo = { ...chapter }
      document.body.style.overflow = 'hidden'
    },
    close() {
      document.body.style.overflow = 'auto'
      this.windowOpen = false
      Promise.resolve().then(() => {
        this.open = false
      })
    },
    clickedDone() {
      this.$emit('done', this.chapterInfo.id)
      this.close()
    },
  },
  computed: {
    loggedIn() {
      return this.$store.state.user != null
    },
  },
}
</script>

<style>
.chapter-popup {
  position: fixed;
  z-index: 20;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 90, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter-window {
  padding: 0 5px;
  overflow: hidden;
  position: relative;
  font-size: 1.5em;
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 90, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-title {
  font-size: 2.5em;
  margin: 1rem;
  margin-top: 2rem;
}

.window-text {
  padding: 0 4vw;
  width: 100%;
  overflow: auto;
}

.window-text img {
  max-width: 100%;
}

.window-buttons {
  padding: 0.5em 0;
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.window-buttons .btn {
  margin: 0.5em !important;
}

.btns {
  display: flex;
}
</style>
