<template>
  <Transition name="fade">
    <div class="chapter-popup" v-if="open">
      <Transition appear name="fade-up">
        <div class="chapter-window" v-if="windowOpen">
          <span v-wave class="close-btn" @click="close">×</span>
          <h1 class="window-title title">עריכת פרק</h1>
          <div class="chapter-form">
            <label for="title">הכנס כותרת</label>
            <input
              type="text"
              name="title"
              class="chapter-title-input"
              v-model="chapterInfo.title"
            />
            <label for="content">הכנס תוכן</label>
            <ckeditor
              :editor="editor"
              v-model="chapterInfo.content"
              :config="editorConfig"
            ></ckeditor>
          </div>
          <div class="window-buttons">
            <div v-wave class="btn btn-red" @click="close">בטל</div>
            <div v-wave class="btn btn-green" @click="clickedDone">
              שמור שינויים
            </div>
          </div>
        </div>
      </Transition>
    </div>
  </Transition>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'

export default {
  data() {
    return {
      open: false,
      windowOpen: false,
      chapterInfo: {
        id: '',
        title: '',
        content: '',
        type: 'text',
      },
      editor: ClassicEditor,
      editorConfig: {
        language: 'he',
      },
    }
  },
  methods: {
    popup(chapter) {
      this.open = true
      this.windowOpen = true
      this.chapterInfo = {
        id: chapter.id,
        title: chapter.title,
        content: chapter.content,
        type: 'text',
      }
      document.body.style.overflow = 'hidden'
    },
    close() {
      document.body.style.overflow = 'auto'
      this.windowOpen = false
      Promise.resolve().then(() => {
        this.open = false
      })
    },
    clickedDone() {
      if (this.chapterInfo.title != '' && this.chapterInfo.content != '') {
        this.$emit('edit', this.chapterInfo)
        this.close()
      } else {
        alert('עליכם למלא כותרת ותוכן על מנת לערוך פרק')
      }
    },
  },
}
</script>

<style>
.ck.ck-editor {
  width: 100% !important;
}
</style>

<style scoped>
.chapter-popup {
  position: fixed;
  z-index: 20;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 90, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter-window {
  padding: 0 2em;
  overflow: hidden;
  position: relative;
  font-size: 1.5em;
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 90, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-title {
  font-size: 3em;
}

.chapter-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 0 1px;
}

.chapter-form label {
  font-weight: bold;
  padding: 0.5em 1em;
}

.chapter-title-input {
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: 1px solid #c4c4c4;
}

.ck.ck-editor {
  width: 100% !important;
}

.chapter-content-input {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

.window-buttons {
  padding: 0.5em 0;
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.window-buttons .btn {
  margin: 0.5em;
}
</style>
