<template>
<footer>
  <div class="large">ענף תוה"ד וחילוץ &copy; 2022</div>
  <div>פותח על ידי עומר כהן &bull; צוות פל"א</div>
</footer>
</template>

<script>
export default {

}
</script>

<style scoped>

  footer {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    height: var(--footerHeight);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: var(--lightBlue);
    color: var(--lightBlue2);
  }

  footer > div {
    margin: .1em 0;
  }

  footer .large {
    font-size: 1.2em;
    margin: .2em 0;
  }

</style>
