<template>
<div class="gantt-container">
  <div id="gantt" class="scroll-fade" ref="gantt"
   :class="{'hide': !visible}">
    <h1 class="home-title">גאנט למידה מומלץ</h1>
    <div class="gantt-graph">
      <div class="gantt-graph-item hide" 
      v-for="item in graphItems" :key="item" :ref="item.task"
      :style="getItemMargin(item.date)">
        <div class="item-info">
          <span class="item-chapters">{{item.task}}</span>
          <span class="item-circle"></span>
          <span class="item-date">{{getItemDate(item.date)}}</span>
        </div>
      </div>
      <div class="today-marker" :style="getItemMargin(getToday())">
        <div class="today-text">
        היום
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-arrow" ref="arrow" :class="{'hide': !showArrow}">
    <img src="../assets/down-arrow.svg">
  </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      showArrow: true,
      graphItems: this.$store.state.graphItems
    }
  },
  mounted () {
    this.$refs.gantt.addEventListener('scroll', this.checkIfAtBottom)
    this.$refs.arrow.classList += ' hide'
  },
  unmounted () {
    this.$refs.gantt.removeEventListener('scroll', this.checkIfAtBottom)
  },
  methods: {
    getToday() {
      return new Date(new Date().getFullYear(),new Date().getMonth() , new Date().getDate())
    },
    getItemDate(date) {
      return `${date.getDate()}/${date.getMonth()+1}`
    },
    getItemMargin(date) {
      return {
        'margin-right': `${this.getItemLocation(date)}%`
      }
    },
    getItemLocation(date) {
      return (this.getDiffOfDays(this.startDate, date)/this.totalDays)*100
    },
    getDiffOfDays(start, end) {
      const oneDay = 1000 * 60 * 60 * 24;
      const diffInTime = end.getTime() - start.getTime();
      const diffInDays = Math.round(diffInTime / oneDay);
      return diffInDays;
    },
    show() {
      this.visible = true
      let delay = 200
      for(let ref in this.$refs) {
        setTimeout(() => {
          this.$refs[ref].classList.remove('hide')
        }, delay);
        delay += 100
      }
    },
    checkIfAtBottom() {
      let obj = this.$refs.gantt
      if(obj.scrollTop > (obj.scrollHeight-obj.offsetHeight)-20){
        this.showArrow = false
      } else {
        this.showArrow = true
      }
    }
  },
  computed: {
    startDate(){
      return this.graphItems[0].date
    },
    endDate() {
      return this.graphItems[this.graphItems.length-1].date
    },
    totalDays() {
      return this.getDiffOfDays(this.startDate, this.endDate)
    }
  }
}
</script>

<style scoped>
@media screen and (max-width: 700px) {
  .gantt-graph {
    transform: rotate(-90deg) translateX(-40%);
  }
  .item-chapters  {
    transform: translateY(-150%) rotate(90deg) !important;
  }
  .item-date {
    transform: translateY(170%) rotate(90deg) !important;
  }
  .today-text {
    transform: rotate(90deg)
  }
  .scroll-arrow {
    display: block !important;
  }
}

.gantt-container {
  background: hsl(240, 100%, 99%);
}

#gantt {
  margin: auto;
  padding-top: 2em;
  overflow: auto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gantt-graph {
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 7em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.gantt-graph::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  background: hsl(240, 100%, 96%);
}

.gantt-graph-item {
  cursor: default;
  padding: 4em 3em;
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  transition: top 1s ease, opacity 1s ease, transform .2s ease;
  z-index: 2;
}
.gantt-graph-item.hide {
  opacity: 0 !important;
  top: 30% !important;
}

.gantt-graph-item:hover {
  z-index: 1;
  transform: translate(50%, -50%) scale(1.1) rotate(2deg);
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 1.2em;
}

.item-circle {
  width: 0; 
  height: 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-top: 1.5em solid var(--lightBlue2);
}

.item-chapters, .item-date {
  position: absolute;
}

.item-chapters {
  padding: .5em;
  transform: translateY(-100%);
  border-radius: .5em;
  background: linear-gradient(-90deg, #fff, var(--lightBlue2), #fff);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}

.item-date {
  border-radius: .5em;
  transform: translateY(120%);
  color: var(--orange);
  padding: .1em .2em;
  background: linear-gradient(-90deg, #fff3e9, #ffc085, #fff3e9);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}


.today-marker {
  margin-right: 10%;
  z-index: 0;
  color: red;
  position: absolute;
  transform: translate(50%, 150%);
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-90deg, #ffe5e5, #ffa7a7, #ffe5e5);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
} 

.today-marker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -105%);
  width: 1px;
  height: 100%;
  background-color: red;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 135% 50%;
	}
}

.scroll-arrow {
  display: none;
  transform: scale(1);
  height: 2.5em;
  width: 2.5em;
  margin: .5em auto;
  border-radius: 50%;
  background-color: var(--lightBlue);
  transform: scale(1);
  transition: transform .2s;
}

.scroll-arrow.hide {
  transform: scale(0);
}

.scroll-arrow img {
  width: 100%;
}

</style>