<template>
  <header ref="header" :class="{'at-top': atTop, 'at-home': currRoute == 'home'}">
    <router-link to="/home" class="logo-link">
      <div class="logo"><img src="../assets/book.svg"></div>
    </router-link> 
    <DesktopBar />
    <MobileBar />
  <img class="logo-pakar" src="../assets/pakar.png">
  </header>
</template>

<script>
import DesktopBar from './desktop-bar.vue'
import MobileBar from './mobile-bar.vue'

export default {
  data() {
    return {
      routerButtons: [
        {
          title: 'חומר המבחן',
          to: '/units'
        },
        {
          title: 'פודקאסטים',
          to: '/podcasts'
        },
      ],
      linkButtons: [
        {
          title: 'צור קשר',
          link: 'https://docs.google.com/forms/d/e/1FAIpQLSfOXpRkYUuT1cSyIivWeNWwWCnPNx4IBLtpwUKjiCspY7u41g/viewform?usp=sf_link'
        },
      ],
      scrollHeight: 0
    }
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll)  
  },
  beforeUnmount() {
    window.removeEventListener("scroll", this.onScroll)
  },
  methods: {
    goToEl(selector) {
      if (document.querySelector(selector)) {
        document.querySelector(selector).scrollIntoView();
      }
    },
    headerHeight() {
      return this.$refs.header.offsetHeight
    },
    onScroll() {
      this.scrollHeight = window.top.scrollY
    }
  },
  computed: {
    atTop() {
      return this.scrollHeight == 0
    },
    currRoute() {
      return this.$route.name;
    }
  },
  components: {
    DesktopBar,
    MobileBar
  },
  provide() {
    return {
      headerHeight: this.headerHeight,
      goToEl: this.goToEl,
      navButtons: this.navButtons,
      routerButtons: this.routerButtons,
      linkButtons: this.linkButtons
    }
  }
}
</script>

<style>

@media screen and (max-width: 900px) {
  header {
    box-shadow: 0 0 0.5em rgb(196, 196, 217);
    font-size: 1em !important;
  }
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: var(--headerHeight);
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  transition: background-color .2s,font-size .2s, box-shadow .2s;
}

header.at-top {
  box-shadow: none;
  background: #fafaff;
  font-size: 1.025em;
}

.logo-link {
  height: 100%;
}

.logo {
  cursor: pointer;
  padding: 0 2em;
  height: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 90%;
}

.logo-pakar {
  height: 75%;
  padding-left: 1em;
}

.bar-fade-right-enter-active,
.bar-fade-right-leave-active {
  position: relative;
  transition: right .5s ease, opacity .5s ease;
  right: 0;
}

.bar-fade-right-enter-from,
.bar-fade-right-leave-to {
  opacity: 0;
  right: 3em;
}

.router-link-active.desktop-bar-btn, .router-link-active.mobile-nav-btn {
  border-radius: .1em;
  border-bottom: 2px solid var(--lightBlue2);
  color: var(--blue);
}

</style>