<template>
  <div class="home-text scroll-fade" :class="{'hide': !visible}">
    <h1>אנחנו יודעים שהזמן שלכם יקר.</h1>
    <h3>על מנת שתוכלו ללמוד בכל מקום, ובזמן שנוח לכם, אנחנו מתרגשים להציג את אתר המבחן החילי:</h3>
    <div class="showcase">
      <div class="showcase-item">
        <img src="../assets/office.svg">
        <p class="showcase-text">
          במקום חוברת, חילקנו את החומר <router-link to="/units">לפרקים המופיעים באתר</router-link> – ההתקדמות שלכם נשמרת כך שתדעו איפה עצרתם</p>
      </div>
      <div class="showcase-item ltr">
        <img src="../assets/audio.svg">
        <p class="showcase-text">
          <router-link to="/podcasts">פודקאסטים</router-link>
           – ריכזנו הרצאות מוקלטות ופודקאסטים בנושאי הפרקים – כדי שתוכלו ללמוד גם בנסיעה</p>
      </div>
      <div class="showcase-item">
        <img src="../assets/qna.svg">
        <p class="showcase-text">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfOXpRkYUuT1cSyIivWeNWwWCnPNx4IBLtpwUKjiCspY7u41g/viewform?usp=sf_link" target="_blank">שאלות ותשובות</a>
           – החומר לא ברור? יש לכם שאלה? כתבו לנו שאלה באתר ונחזור אליכם</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      visible: false
    }
  },
  methods: {
    show() {
      this.visible = true
    }
  }
}
</script>

<style scoped>

@media screen and (max-width: 700px) {
  .showcase-item {
    flex-direction: column;
    text-align: center;
    padding: 3em 0 !important;
    border-radius: unset !important;
  }
  .showcase-item:nth-child(1),.showcase-item:nth-child(2),.showcase-item:nth-child(3) {
    border-right: none !important;
    border-left: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .showcase {
    padding: 1em 0 !important;
  }
}

.home-text {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  padding-top: 1em;
}

h1 {
  font-size: 2.5em;
  margin: 1em 0;
  text-align: center;
  color: rgb(97, 94, 153);
  text-shadow: 0.01em 0.01em 0 #b5affd,
   0.02em 0.02em 0 #bbb5fd,
   0.03em 0.03em 0 #c0bbff,
   0.04em 0.04em 0 #c7c2ff,
   0.05em 0.05em 0 #cec9fb,
   0.06em 0.06em 0 #d2cdfb,
   0.07em 0.07em 0 #d8d4fb,
   0.08em 0.08em 0 #dedbff,
   0.09em 0.09em 0 #dedbff,
   0.1em 0.1em 0 #dedbff,
   0.1em 0.1em 1em #918eba;
}

h3 {
  text-align: center;
}

.showcase {
  padding: 2em 0;
}

.showcase-item {
  display: flex;
  align-items: center;
  width: 50em;
  max-width: 90vw;
  padding: 3em;
  --borderColor: #f0eefd;
  --borderRadius: 1em;
  --borderWidth: 2px;
}

.showcase-item:nth-child(1) {
  margin-right: var(--borderRadius);
  padding-left: 0;
  border-radius: 0 0 0 var(--borderRadius);
  border-left: var(--borderWidth) solid var(--borderColor);
  border-bottom: var(--borderWidth) solid var(--borderColor);
}
.showcase-item:nth-child(2) {
  margin-left: var(--borderRadius);
  padding-right: 0;
  margin-top: calc(-1 * var(--borderWidth));
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
  border-top: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
  border-bottom: var(--borderWidth) solid var(--borderColor);
}
.showcase-item:nth-child(3) {
  margin-right: var(--borderRadius);
  padding-left: 0;
  margin-top: calc(-1 * var(--borderWidth));
  border-radius: var(--borderRadius) 0 0 0;
  border-top: var(--borderWidth) solid var(--borderColor);
  border-left: var(--borderWidth) solid var(--borderColor);
}

.showcase-text {
  padding: 0 2em;
}

.showcase-text * {
  color: rgb(115, 115, 175);
}

.showcase-text a {
  cursor: pointer;
  text-decoration: underline;
}

.showcase-item img {
  height: 10em;
}


</style>