<template>
  <div class="home-routes scroll-fade" :class="{'hide': !visible}">
    <router-link class="home-route" v-for="route in routes" :key="route" :to="route.to">
      <div class="home-route-img">
      <img :src="require(`../assets/${route.img}`)">
      </div>
      <h1>{{route.title}}</h1>
    </router-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      routes: [
        {
          title: 'חומר המבחן',
          to: '/units',
          img: 'booklover2.svg'
        },
        {
          title: 'פודקאסטים',
          to: '/podcasts',
          img: 'audio.svg'
        },
      ],
    }
  },
  methods: {
    show() {
      this.visible = true
    }
  }
}
</script>

<style scoped>

@media screen and (max-width: 700px) {

  .home-route {
    --imgScale: 1 !important;
    --h1Transform: translateX(.5em) !important;
  }

  .home-route h1 {
    font-size: 2.5em !important;
  }

}

.home-routes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0;
  background: #fafaff;
}

.home-route {
  position: relative;
  border-radius: 2em;
  overflow: hidden;
  text-decoration: none;
  color: #434172;
  cursor: pointer;
  margin: 2% 1%;
  padding: 0 1em;
  background: #f2f2ff;
  width: 50em;
  height: 20em;
  max-width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  --imgScale: 1;
  --h1Transform: translateX(.2em);
}

.home-route:hover {
  --imgScale: 1.12;
  --h1Transform: translateX(.5em);
}

.home-route:active {
  color: #f00;
}

.home-route h1 {
  z-index: 1;
  font-size: 3em;
  text-align: center;
  margin: 2em 0;
  transform-origin: left;
  transform: var(--h1Transform);
  transition: transform .2s ease-out;
  --shadowColor: #bdbadb;
  text-shadow: 0.01em 0.01em 0 var(--shadowColor), 0.02em 0.02em 0 var(--shadowColor), 0.03em 0.03em 0 var(--shadowColor), 0.04em 0.04em 0 var(--shadowColor), 0.05em 0.05em 0 var(--shadowColor);
}

.home-route-img {
  width: 18em;
}

.home-route-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-65deg, transparent, hsla(240, 100%, 97%, .75) 30%, hsla(240, 100%, 97%, 1) 50%);
}

.home-route img {
  position: relative;
  height: 90%;
  max-width: 100%;
  transform: scale(var(--imgScale));
  transition: transform .2s ease-out;
}

</style>
