<template>
<div class="showcase-container" :style="{'--scrollheight': offset+'px', '--height': initHeight+'px'}">
  <div class="home-showcase scroll-fade"
  :class="{'hide': !visible}">
    <div class="home-showcase-text">
      <div class="home-showcase-text-title">המבחן החילי</div>
      <div class="home-showcase-text-desc">אתר הלמידה למבחן החילי של פיקוד העורף</div>
    </div>
    <div class="home-picture-con" ref="imgcon">
      <Transition name="fade">
        <img src="../assets/study3.svg" class="home-picture" ref="img" v-show="imageLoaded"/>
      </Transition>
      <easy-spinner class="showcase-spinner" type="circular" color="rgb(170, 170, 200)" v-if="!imageLoaded" />
    </div>
  </div>
  <div class="home-showcase-mobile scroll-fade" :class="{'hide': !visible}">
    <div class="home-showcase-text">
      <div class="home-showcase-text-title">המבחן החילי</div>
      <div class="home-showcase-text-desc">אתר הלמידה למבחן החילי של פיקוד העורף</div>
    </div>
    <div class="home-picture-con" ref="imgcon">
      <Transition name="fade">
        <img src="../assets/study2.svg" class="home-picture" ref="img" v-show="imageLoaded"/>
      </Transition>
      <easy-spinner class="showcase-spinner-mobile" type="circular" color="rgb(170, 170, 200)" v-if="!imageLoaded" />
    </div>
  </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      imageLoaded: false,
      scrollY: 0,
      initHeight: 600,
      offset: ''
    }
  },
  created () {
    window.addEventListener('scroll', this.resize)
  },
  unmounted () {
    window.removeEventListener('scroll', this.resize)
  },
  mounted() {
    this.$refs.img.onload = () => {
      this.imageLoaded = true
    }
  },
  methods: {
    show() {
      this.visible = true
    },
    resize() {
      this.scrollY = window.scrollY
      this.offset = this.initHeight-this.scrollY < 0 ? 0 : this.initHeight-this.scrollY
    },
  },
}
</script>

<style scoped>
@media screen and (max-width: 700px) {
  .showcase-container {
    position: relative !important;
  }
  .home-showcase {
    display: none !important;
  }
  .home-showcase-text {
    background: none !important;
    box-shadow: none !important;
  }
  .showcase-spinner {
    display: none !important;
  }
  .home-showcase-mobile {
    display: flex !important;
  }
  .showcase-spinner-mobile {
    display: block !important;
  }
}

.showcase-container {
  position: relative;
  position: fixed;
  --mobileHeight: 215px;
}

.home-showcase {
  background: hsl(240, 100%, 99%);
  display: flex;
  position: fixed !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: var(--headerHeight) !important;
  width: 100%;
  overflow: hidden;
  height: var(--height);
  --top: calc(var(--scrollheight)/2);
  --sub: calc(var(--height)/2);
  transform: translate3d(0, calc(var(--top) - var(--sub)), 0);
}

.home-showcase-mobile {
  background: hsl(240, 100%, 99%);
  display: none;
  width: 100%;
  overflow: hidden;
  --mobileHeight: 215px;
  flex-direction: column;
  align-items: center;
}

.home-showcase-mobile .home-showcase-text {
  font-size: 2em;
  padding-top: 1em;
  position: relative;
  white-space: unset;
  margin: 0 !important;
}
.home-showcase-mobile .home-showcase-text-desc {
  margin: 0 !important;
}
.home-showcase-mobile .home-picture {
  width: 100%;
  padding: 1em 10%;
}
.home-showcase-mobile .home-picture-con {
  position: relative !important;
  padding-right: 0 !important;
}
.home-showcase-mobile .home-picture-con::after {
  background: none;
}

.home-showcase-text {
  white-space: nowrap;
  font-size: 2em;
  width: fit-content;
  margin-bottom: 21rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

.home-showcase-text-title {
  color: #434172;
  z-index: 1;
  font-weight: bold;
  font-size: 3em;
  --shadowColor: #bdbadb;
  text-shadow: 
              0.01em 0.01em 0 var(--shadowColor),
              0.02em 0.02em 0 var(--shadowColor),
              0.03em 0.03em 0 var(--shadowColor),
              0.04em 0.04em 0 var(--shadowColor),
              0.05em 0.05em 0 var(--shadowColor);
}

.home-showcase-text-desc {
  font-size: .9em;
  border-radius: .5rem;
  padding: 0rem .4em;
  padding-bottom: .2em;
  margin-top: calc((var(--height) - var(--scrollheight))/-15);
  background-color: rgba(250, 250, 255, .75);
  font-weight: bold;
  color: rgb(141, 137, 179);
}

.home-picture-con {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  height: 90%;
  padding-bottom: 4em;
  padding-right: 9em;
}

.home-picture {
  position: relative;
  height: 100%;
}

.home-picture-con::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(250, 250, 255, .2), transparent);
}

.showcase-spinner {
  width: 100%;
  height: 5em;
}

.showcase-spinner-mobile {
  display: none;
  width: 100%;
  height: 10em;
}
</style>