<template>
  <div class="login">
    <div class="btn" :class="{'btn-blue': !loggedIn, 'btn-red': loggedIn}" @click="!loggedIn ? loginPopup() : logout()">{{!loggedIn ? 'התחברות אדמין' : 'התנתק'}}</div>
  </div>
</template>

<script>
import { logOut } from '../firebase.js'


export default {
  methods: {
    logout() {
      logOut()
      .catch((err)=> console.log(err))
    }
  },
  computed: {
    user() {
      return this.$store.state.user
    },
    loggedIn() {
      return this.user != null
    }
  },
  inject: ["loginPopup"]
}
</script>

<style scoped>
.login {
  padding: .5em 1em;
}
</style>