<template>
  <div class="mobile-nav">
    <div class="icon-container" :class="{'open': mobileNavOpen}" @click="changeLogo">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <Transition name="fade">
    <div class="mobile-nav-backdrop" v-show="mobileNavOpen" @click="mobileNavOpen =  false">
      <div class="mobile-nav-menu">
        <div class="link-bar">
          <a v-for="btn in linkButtons" :key="btn"
          class="mobile-nav-btn" :href="btn.link" target="_blank">
            {{btn.title}}
          </a>
        </div>
        <span class="sepLine"></span>
        <div class="router-bar">
          <router-link class="mobile-nav-btn" to="/home">
            עמוד הבית
          </router-link>
        </div>
        <span class="sepLine"></span>
        <div class="router-bar">
          <router-link v-for="btn in routerButtons" :key="btn.title"
            class="mobile-nav-btn" :to="btn.to">
              {{btn.title}}
          </router-link>
        </div>
        <Login />
      </div>
    </div>
  </Transition>
  </div>
</template>

<script>
import Login from './login.vue'

export default {
  data() {
    return {
      mobileNavOpen: false
    }
  },
  methods: {
    changeLogo() {
      this.mobileNavOpen = !this.mobileNavOpen;
    },
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    }
  },
  components: {
    Login
  },
  inject: ['headerHeight', 'goToEl', 'navButtons', 'routerButtons', 'linkButtons']
}
</script>

<style scoped>
@media screen and (min-width: 900px) {
  .mobile-nav {
    display: none !important;
  }
}

.mobile-nav { 
  margin-right: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.router-bar, .link-bar {
  user-select: none;
  font-size: 1.2em;
  padding: .5em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mobile-nav-btn {
  cursor: pointer;
  padding: .5em;
  white-space: nowrap;
  color: #333;
  text-decoration: none;
}

.router-bar .mobile-nav-btn:hover {
  color: var(--blue);
}

.link-bar .mobile-nav-btn:hover {
  color: var(--orange);
}

.sepLine {
  height: 1px;
  width: 90%;
  background-color: #bbb;
}

.mobile-nav-backdrop {
  height: calc(100vh - var(--headerHeight));
  width: 100%;
  position: absolute;
  left: 0;
  top: var(--headerHeight);
}

.mobile-nav-menu {
  z-index: 10;
  width: 100%;
  left: 0;
  background: #fff;
  border-top: 1px solid #bbb;
  box-shadow: 0 .5em 1em -1em #333;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  height: fit-content;
}

.mobile-nav-menu .nav-link {
  padding: .5em 0;
}

.icon-container {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background: var(--blue);
  background: #333;
  margin-bottom: 6px;
  transition: 0.4s;
}

.bar3 {  
  margin-bottom: 0px;
}

.icon-container.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.icon-container.open .bar2 {opacity: 0;}

.icon-container.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
</style>