<template>
<div class="header-wrapper">
  <div class="podcasts-header">
    <!-- <div class="podcasts-title home-title">פודקאסטים</div> -->
    <img class="podcasts-image" src="../assets/audio.svg">
  </div>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background: hsl(240, 100%, 99%);
}

.podcasts-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  min-width: fit-content;
}

.podcasts-title {
  font-size: 4.5em;
}

.podcasts-image {
  padding-right: 5em;
  margin-top: 3rem;
  height: 25em;
  max-width: 100%;
}

</style>