<template>
  <div id="units">
    <UnitsTitle />
    <UnitsAdmin />
    <easy-spinner class="units-spinner" type="circular" color="rgb(170, 170, 200)" v-if="!fetchedUnits" />
    <div class="units">
      <Unit v-for="unit in units" :key="unit.id"
      :title="unit.title" :chapters="unit.chapters" :id="unit.id"
      />
    </div>
  </div>
</template>

<script>
import UnitsTitle from '../components/units-title.vue'
import UnitsAdmin from '../components/units-admin.vue'
import Unit from '../components/unit.vue'

export default {
  computed: {
    units() {
      return this.$store.state.units
    },
    fetchedUnits() {
      return this.$store.state.fetchedUnits
    }
  },
  components: {
    UnitsTitle,
    UnitsAdmin,
    Unit
  },
}
</script>

<style>
#units {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.units {
  padding: 1.5em 0;
}

.units-spinner {
  height: 5em !important;
  width: 5em !important;
  margin: 2.5em 0;
}
</style>