<template>
<div class="header-wrapper">
  <div class="units-header">
    <!-- <div class="units-title home-title">חומר המבחן</div> -->
    <img class="units-image" src="../assets/notebook.svg">
  </div>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background: hsl(240, 100%, 99%);
}

.units-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  min-width: fit-content;
}

.units-title {
  font-size: 4.5em;
}

.units-image {
  padding-right: 5em;
  margin-top: 3rem;
  height: 25em;
  max-width: 100%;
}

</style>