<template>
  <Header></Header>
  <router-view/>
  <Footer></Footer>
  <LoginPopup ref="login"/>
</template>

<script>
import Header from './components/header.vue'
import Footer from './components/footer.vue'
import LoginPopup from './components/login-popup.vue'

export default {
  methods: {
    loginPopup() {
      this.$refs.login.loginPopup()
    }
  },
  components: {
    Header,
    Footer,
    LoginPopup
  },
  provide() {
    return {
      loginPopup: this.loginPopup
    }    
  }
}
</script>

<style>
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 75%;
}

body, html, #app {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  overflow: auto;
  --headerHeight: 4rem;
  --footerHeight: 9rem;
  --blue: rgb(0, 0, 90);
  --orange: #EC8424;
  --lightBlue: hsl(240, 100%, 98%);
  --lightBlue2: rgb(170, 170, 200);
  --lightGreen: rgb(211, 255, 211);
  --lightGreen2: rgb(112, 163, 112);
  --lightRed: rgb(255, 226, 226);
  --lightRed2: rgb(245, 139, 139);
}

::placeholder {
  color: var(--lightBlue2);
}

.title {
  text-align: center;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: .05em;
  -webkit-text-stroke-color: #333;
}

.btn {
  width: fit-content;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  padding: .5em 1em;
  border-radius: .5em;
  transition: box-shadow .2s, transform .2s;
}

.btn:hover {
  box-shadow: 0 0 0 .2em var(--color);
}

.btn:active {
  box-shadow: 0 0 0 0 var(--color);
  transform: scale(.95);
}

.btn-green {
  --color: var(--lightGreen2);
  color: var(--lightGreen2);
  background-color: var(--lightGreen);
}

.btn-red {
  --color: var(--lightRed2);
  color: var(--lightRed2);
  background-color: var(--lightRed);
}

.btn-blue {
  --color: var(--lightBlue2);
  color: var(--lightBlue2);
  background-color: var(--lightBlue);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity .2s ease;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
  opacity: 0;
}

.fade-down-enter-active,
.fade-down-leave-active {
  position: relative;
  transition: top 1s ease, opacity 1s ease;
  top: 0;
}

.fade-down-enter-from,
.fade-down-leave-to {
  opacity: 0;
  top: -5%;
}

.fade-up-enter-active,
.fade-up-leave-active {
  position: relative;
  transition: top 1s ease, opacity 1s ease;
  top: 0;
}

.fade-up-enter-from,
.fade-up-leave-to {
  opacity: 0;
  top: 5%;
}

.grow-enter-active,
.grow-leave-active {
  overflow: hidden !important;
  transition: height .5s ease, opacity .5s ease;
}

.grow-enter-from,
.grow-leave-to {
  height: 0 !important;
  opacity: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

[data-tool]::after {
  pointer-events: none;
  content: attr(data-tool);
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) scale(.5);
  width: fit-content;
  white-space: nowrap;
  padding: .5em 1em;
  transition: opacity .2s, transform .2s;
  opacity: 0;
  background-color: #fff;
  color: var(--lightBlue2);
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 0 .5em var(--lightBlue2);
  text-shadow: none;
}

[data-tool]:hover:after {
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
}

.ltr {
  direction: ltr;
}

td {
  border: 1px solid #bbb;
  text-align: center;
}

.close-btn {
  user-select: none;
  border-radius: 0 .5em 0 .5rem;
  cursor: pointer;
  color: #bbb;
  padding: 0 .35em;
  padding-bottom: .1em;
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color .2s, color .2s;
}

.close-btn:hover {
  color: red;
}

</style>